body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 4px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}